@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>

<form method="post" asp-controller="Account" asp-action="Login">
    <label>Username:</label>
    <input type="text" name="username" required /><br />

    <label>Password:</label>
    <input type="password" name="password" required /><br />

    <button type="submit">Login</button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}