@page
@model CoreDemo.Pages.WiproModel
@{
    ViewData["company"] = "Wipro";
    ViewData["Location"] = "Hyderabad";
    ViewData["Role"] = "Project Engineer";
}
<p>Company name is: <b> @ViewData["company"]</b></p>
