@{
    ViewData["Title"] = "Access Denied";
}


   
    <p>@ViewBag.ErrorMessage</p>

    <a href="/Product/ProductList" style="color:blue; text-decoration:underline;">
        Back to Product List
    </a>
</div>